.header-nav {
  display: flex;
  gap: 10px;
}

.link {
  font-size: 30px;
  font-weight: 600;
  transition: color 250ms;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: rgb(255, 145, 0);
}

.active {
  color: rgb(255, 145, 0);
}

.inactive {
  color: black;
}
